
body {
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
        
background: url("https://img.freepik.com/premium-photo/mockup-notebooks-set-stationery-work-study-blue-background-back-school_89386-2941.jpg?size=626&ext=jpg&ga=GA1.1.933601817.1717286400&semt=ais_user");
}
.title{
  
        background-color: rgb(41, 84, 239); /* Light blue background */
        border: 5px solid black; /* Thick black border */
        padding: 20px; /* Add some padding inside the box */
        border-radius: 10px; /* Add rounded corners to the box */

}

.container {
    text-align: center;
    margin-top: 50px;
  
    background-size: cover;
    padding: 50px;
    border-radius: 10px;
}

.title {
    color: red;
}

.options {
    margin-top: 30px;
}

.option {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background-color: rgba(0, 0, 255, 0.5); /* Darken blue with opacity */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.option:hover {
    background-color: rgba(0, 0, 255, 0.8); /* Darken blue further on hover */
}

